.aboutme-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.aboutme-container {
	margin-top: 6rem;
	border-radius: 1rem;
	width: 70%;
}

.aboutme-container h2 {
	margin: 0;
	font-weight: 700;
}

.aboutme-container_content {
	display: flex; /* Usar flexbox para alinear elementos en fila */
	align-items: center; /* Centra verticalmente */
	justify-content: flex-start; /* Alinea a la izquierda */
	gap: 2rem; /* Espacio entre la imagen y el texto */
}

.aboutme-container_content p {
	text-align: justify;
}

.aboutme-container_content img {
	width: 320px;
	height: 320px;
	border-radius: 50%;
}

.education-container {
	margin-left: 4rem;
	margin-right: 4rem;
	margin-top: 1rem;
	border-radius: 1rem;
	padding: 1rem;
}

.education-container h2 {
	border-bottom: 2px solid #008f90;
}

.education-container_content {
	display: flex;
	flex-direction: column;
}

.education-container_content .education-container_content__item {
	border-radius: 0.2rem;
	background-color: #ffffff;
	height: 3.6rem;
	margin-top: 1rem;
	border: 0.1rem solid #008f90;
	display: flex; /* Agregar flex para usar alineación */
	align-items: center; /* Alinear verticalmente el contenido */
	padding: 0 1rem; /* Añadir espacio horizontal alrededor del texto, opcional */
}
.education-container_content .education-container_content__item p {
	margin-left: 1rem;
}

.education-img img {
	width: 250px;
	height: 250px;
}

.aboutme-education {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 980px) {
	.aboutme-container {
		width: 90%;
	}
}

@media screen and (max-width: 800px) {
	.aboutme-container {
		width: 90%;
		margin-top: 20rem;
	}
	.aboutme-container h2 {
		text-align: center;
		margin-bottom: 1.6rem;
	}

	.aboutme-container_content p {
		margin-right: 0;
	}

	.aboutme-container_content {
		flex-direction: column;
		align-items: center;
	}

	.education-container {
		margin-top: 14rem;
		margin-left: 0rem;
		margin-right: 0rem;
	}

	.education-container_content .education-container_content__item {
		height: 5rem;
		margin-top: 1rem;
		align-items: center;
	}

	.education-container_content .education-container_content__item p {
		margin-left: 1rem;
	}
}

@media screen and (max-width: 341px) {
	.aboutme-container {
		width: 90%;
		margin-top: 24rem;
	}

	.aboutme-container h2 {
		text-align: center;
		margin-bottom: 1.6rem;
	}

	.aboutme-container_content p {
		margin-right: 0;
	}

	.aboutme-container_content {
		flex-direction: column;
		align-items: center;
	}

	.education-container {
		margin-top: 18rem;
	}

	.education-container_content .education-container_content__item {
		/* height: 6.6rem; */
		margin-top: 1rem;
	}

	.education-container_content .education-container_content__item p {
		margin-left: 1rem;
	}
}

/* @media screen and (max-width: 980px) {
	.aboutme-wrapper {
		margin-top: 24rem;
	}

	.aboutme-container {
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.education-container {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.aboutme-container h2 {
		text-align: center;
		margin-bottom: 1.6rem;
	}

	.aboutme-container_content p {
		margin-right: 0;
	}

	.aboutme-container_content {
		flex-direction: column;
		align-items: center;
	}
	.education-container {
		margin-top: 24rem;
	}
	.education-container_content .education-container_content__item {
		height: 6.6rem;
		margin-top: 1rem;
	}
	.education-container_content .education-container_content__item p {
		margin-left: 1rem;
	}
} */
