.grantsawards-container {
	margin-left: 4rem;
	margin-right: 4rem;
	border: 0.1rem solid #586e75;
	margin-top: 6rem;
	border-radius: 1rem;
	padding: 1rem;
	background: #ffffff;
}

.grantsawards_items {
	background: #b6e1eb;
	border: 0.1rem solid #586e75;
	border-radius: 1rem;
	margin-top: 1rem;
}

.grantsawards_items p {
	margin-left: 1rem;
	margin-right: 1rem;
}

@media screen and (max-width: 980px) {
	.grantsawards-container {
		margin-left: 1rem;
		margin-right: 1rem;
		text-align: justify;
	}
	.grantsawards_items a {
		word-wrap: break-word; /* Permite que las palabras largas se dividan */
		overflow-wrap: break-word; /* Compatibilidad con navegadores más nuevos */
	}
}
