.grantsawards-container {
	margin-left: 4rem;
	margin-right: 4rem;
	margin-top: 6rem;
	border-radius: 1rem;
	padding: 1rem;
}

.grantsawards-container h2 {
	border-bottom: 2px solid #008f90;
}

.grantsawards_items {
	background: #ffffff;
	border: 0.1rem solid #586e75;
	border-radius: 0.2rem;
	margin-top: 1rem;
}

.grantsawards_items p {
	margin-left: 1rem;
	margin-right: 1rem;
}
