.navbar {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: #ffffff;
	height: 4rem;
	z-index: 1000;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar-menu {
	display: none;
	cursor: pointer;
	padding-right: 1rem;
}

.navbar-logo {
	text-align: center;
	margin-bottom: 0;
	margin-top: 0.4rem;
}

.navbar-logo h1,
.navbar-logo p {
	margin: 0;
}

.navbar-links {
	list-style: none;
	display: flex;
}

.navbar-links li {
	margin: 0 15px;
}

.navbar-links a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	padding: 10px 15px;
	display: inline-block;
	transition: background-color 1s ease, transform 1s ease;
	border-radius: 1rem;
}

.navbar-links a:hover {
	background-color: #00908f;
	color: #ffffff;
	transform: scale(1.01);
}

@media screen and (max-width: 1012px) {
	.navbar {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	.navbar-links li a {
		padding: 0;
	}
}

@media screen and (max-width: 980px) {
	.navbar {
		justify-content: space-between;
		padding: 0 1rem;
	}

	.navbar-logo h1,
	.navbar-logo p {
		margin-left: 1rem;
	}

	.navbar-links {
		display: none;
		position: absolute;
		top: 3rem;
		right: 0;
		background-color: #ffffff;
		width: 30%;
		flex-direction: column;
		border-radius: 0.5rem;
		padding: 1rem;
	}

	.navbar-links.show {
		display: flex;
	}

	.navbar-links li {
		margin: 10px 0;
		border-bottom: 1px solid #00908f;
	}
	.navbar-links li a {
		width: 100%;
	}

	.navbar-menu {
		display: block;
		font-size: 1.5rem;
		margin-right: 1rem;
		cursor: pointer;
	}
}

@media screen and (max-width: 590px) {
	.navbar {
		justify-content: space-between;
	}

	.navbar-links {
		display: none;
		position: absolute;
		top: 4rem;
		right: 0;
		background-color: #ffffff;
		width: 100%;
		flex-direction: column;
		border-radius: 0.5rem;
		padding: 1rem;
	}

	.navbar-links.show {
		display: flex;
	}

	.navbar-links li {
		margin: 10px 0;
		border-bottom: 1px solid #00908f;
		text-align: center;
	}
	.navbar-links li a {
		width: 100%;
	}

	.navbar-menu {
		display: block;
		font-size: 1.5rem;
		margin-right: 1rem;
		cursor: pointer;
	}
}

@media screen and (max-width: 341px) {
	.navbar {
		justify-content: space-between;
		padding: 0 1rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	.navbar-logo h1,
	.navbar-logo p {
		margin-left: 1rem;
	}

	.navbar-links {
		display: none;
		position: absolute;
		top: 3rem;
		right: 0;
		background-color: #ffffff;
		width: 100%;
		flex-direction: column;
		border-radius: 0.5rem;
		padding: 1rem;
	}

	.navbar-links.show {
		display: flex;
	}

	.navbar-links li {
		margin: 10px 0;
		border-bottom: 1px solid #00908f;
		text-align: center;
	}
	.navbar-links li a {
		width: 100%;
	}

	.navbar-menu {
		display: block;
		font-size: 1.5rem;
		margin-right: 1rem;
		cursor: pointer;
	}
}
