.skills-container {
	margin-left: 4rem;
	margin-right: 4rem;
	margin-top: 6rem;
	border-radius: 1rem;
	padding: 1rem;
}

.skills-container h2 {
	border-bottom: 2px solid #008f90;
}

.skills-container_icons {
	display: flex; /* Usa flexbox para disposición horizontal */
	flex-wrap: wrap; /* Si hay demasiados iconos, se ajustan a la siguiente línea */
	justify-content: center; /* Centra los iconos */
	gap: 2rem; /* Espacio entre los iconos */
	margin-top: 2rem;
}

.icon-item {
	display: flex;
	flex-direction: column; /* Organiza los iconos y nombres en columna */
	align-items: center; /* Centra el contenido */
	text-decoration: none;
}

.icon-item img {
	width: 50px; /* Tamaño del icono, ajusta según necesites */
	height: 50px; /* Tamaño del icono, ajusta según necesites */
}

.icon-item p {
	margin-top: 0.5rem; /* Espacio entre el icono y el nombre */
	font-size: 0.9rem; /* Tamaño del texto */
	text-align: center; /* Centra el texto */
	color: #000; /* Cambia el color del texto si es necesario */
}

a {
	text-decoration: none; /* Elimina el subrayado del enlace */
	color: inherit; /* Asegura que el color del enlace herede el color de su elemento contenedor */
}
